<template>
  <div class="block">
    <!-- 走马灯 -->
    <span class="demonstration">走马灯效果</span>
    <el-carousel height="150px" :interval="1000">
      <el-carousel-item v-for="(item, index) in imgList" :key="index">
        <img class="small" :src="item.url"/>
      </el-carousel-item>
    </el-carousel>
    <!-- 走马灯结束 -->
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column prop="id" label="日期" width=": 30%"></el-table-column>
      <el-table-column prop="no" label="姓名" width=": 30%"></el-table-column>
      <el-table-column prop="price" label="地址" width=": 30%">
      </el-table-column>
    </el-table>
    <!-- <button @click="demoClick" class="btn">点击按钮<30%/button> -->
    <el-button type="success" round @click="demoClick" class="btn"
    >点击按钮
    </el-button
    >


    <el-popover
      placement="right"
      width="400"
      height="400"
      trigger="click"
      fullscreen="true"
    >
      <HelloWorld></HelloWorld>
      <el-button slot="reference">click 激活</el-button>
    </el-popover>
    <!-- 弹出窗 结束 -->
    <!-- dialog -->
    <el-button type="text" @click="dialogVisible = true">点击打开 Dialog</el-button>
    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"

    >
      <span>这是一段信息</span>
      <!-- <HelloWorld></HelloWorld> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false"
        >确 定</el-button
        >
      </span>
    </el-dialog>
    <!-- dialog结束 -->
    <!-- <p>{{ data }}</p> -->
    <!-- 日历 -->
    <div style=" width:50%;height:40%;">
      <el-calendar v-model="value">
      </el-calendar>
    </div>
    <!-- 日历结束 -->
    <taskTable></taskTable>
  </div>
</template>
<script>
import axios from "axios";
import HelloWorld from "./HelloWorld.vue";
import taskTable from "./taskTable.vue";

export default {
  components: {HelloWorld, taskTable},
  data() {
    return {
      value: new Date(),
      data: {},
      tableData: [],
      // 设置dialog
      dialogVisible: false,
      imgList: [
        {
          url:
            "https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1132502205,109667947&fm=26&gp=0.jpg",

        },
        {
          url:
            "https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1132502205,109667947&fm=26&gp=0.jpg",
        },
        {
          url:
            "https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3785777876,569400734&fm=26&gp=0.jpg",
        },
      ],
    };
  },
  tableDate() {
    return {};
  },
  methods: {
    demoClick() {
      axios.get("http://localhost:8089/goods/testSelect", {}).then((res) => {
        let data = res.data;
        console.log(data);
        this.data = data;
        this.tableData = data;
      });
    },
    // 设置dialog
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {
        });
    },
  },
};
</script>
<style scoped>
.btn {
  float: right;
  margin-right: 20%;
}

/* 走马灯 */
.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}

/* 走马灯结束 */
/* dialog */
/* dialog结束 */
</style>
