<template>
  <div class="showTable">
    <div class="table-color">
      <h2 class="font-color">150</h2>
      <span class="font-text" >进行中</span>
    </div>
    <div class="table-color">
      <h2 class="font-color">75</h2>
      <span class="font-text">已完成</span>
    </div>
    <div class="table-color">
      <h2 class="font-color">3</h2>
      <span class="font-text">未开始</span>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style  scoped>
.showTable {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}
.table-color{
    background-color: #c4e3fa;
    width: 30%;
    height: 60px;
}
.font-color{
    color: #108ee9;
    margin: 5px 0;
}
.font-text{
   
}
</style>
